# No whitespace after the comma or in your part name!
config SHIELD_AONAMI_LEFT
    def_bool $(shields_list_contains,aonami_left)

# No whitespace after the comma or in your part name!
config SHIELD_AONAMI_RIGHT
    def_bool $(shields_list_contains,aonami_right)