if SHIELD_AONAMI_LEFT

config ZMK_KEYBOARD_NAME
    default "aonami"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_AONAMI_LEFT

if SHIELD_AONAMI_LEFT || SHIELD_AONAMI_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_AONAMI_LEFT || SHIELD_AONAMI_RIGHT
